.btn-close {
    height: 20px;
}
  
.nav-menu {
    max-width: 600px;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 105%;
    transition: 500ms;
    background-color: #ffffff;
    z-index: 9999;
}
  
.nav-menu.active {
    left: 20%;
    transition: 350ms;
}
  
.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    height: 60px;
    border-bottom: 1px solid #dcdcdc;
}
.nav-text:last-child{
    border-bottom: none;
}
  
.nav-text a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
  
.nav-menu-items {
    width: 100%;
}
  
.navbar-toggle {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding : 18px;
}
  
span {
    margin-left: 8px;
}

.login-container{
    margin-left : 40px;
    margin-top : 80px;
    width : calc(100% - 80px);
}
.login-area{
    border : 1px solid #22BAA8;
    border-radius : 12px;
    padding : 16px;
    color : #22BAA8;
    font-size : 20px;
    font-weight : bold; 
    margin-bottom : 60px;
    text-align : center;
}
.black{
    transition: 500ms;
}

.black.active{
    background-color: rgba(34, 34, 34, .5);
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    transition: 300ms;
    z-index: 9000;
}
.logout{
    padding: 12px 0 0 20px;
}
.logout-btn{
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -.21px;
    color: #f15746;
    padding : 0;
    border: 0;
    outline: none;
    background: none;
    background-color: rgba(0,0,0,0);
    appearance: none;
    border-radius: 0;
}