.main-bar{
    height: 60px;
    position: fixed;
    top: 0;
    width: calc(100% - 36px);
    max-width: 600px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
}
.main-logo{
    height: 42px;
}
.main-bar-wrapper{
    display: flex;
    justify-content: space-between;
    width: calc(20%);
}
.main-bar-search{
    height: 22px;
}
.main-bar-menu{
    height: 20px;
}