button{
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    color: #000;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.my-masonry-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    text-align: center;
    margin-left: 1px;
}
.my-masonry-grid_column{
    background-clip: padding-box;
}
.post{
    width: calc(100% - 1px);
    margin-bottom: -2px;
}
.post-image{
    width : 100%;
    height : 100%;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.tab-wrapper{
    margin-top : 60px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    width: calc(100% - 160px);
}
.tab{
    padding : 8px;
    font-size : 16px;
}