button{
    padding: 5px 20px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    color: #000;
}
ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
.my-masonry-grid{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 15px;
    text-align: center;
    justify-content: space-between;
}
.my-masonry-grid_column{
    background-clip: padding-box;
    width: calc(50% - 1px) !important;
}
.post{
    margin-bottom: -2px;
}
.post-image{
    width : 100%;
    height : 100%;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.tab-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-left: 90px;
    margin-top:70px;
    width: calc(100% - 180px);
}
.pop-tab{
    padding : 6px 14px;
    background-color: #000;
    border-radius: 20px;
    color : #ffffff;
    font-weight: bold;
    font-size : 16px;
    letter-spacing: -.16px;
}
.new-tab{
    padding : 6px 14px;
    background-color: #000;
    border-radius: 19px;
    color : #ffffff;
    font-weight: bold;
    font-size : 16px;
    letter-spacing: -.16px;
}
.tab{
    padding : 6px 14px;
    font-size : 16px;
    letter-spacing: -.16px;
}
